PORT=3004

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/ebooks_media_db?schema=public"

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

FRONTEND_URL=http://localhost:3000
